{% extends 'master/index.html' %}
{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN PAGE -->
        <div >
            <div class="container-fluid">
                <!-- BEGIN PAGE CONTENT-->
                <div class="row-fluid">
                    <div class="span12 page-500">
                        <div class=" number">
                            敬请期待！
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- BEGIN PAGE -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}

