{% extends 'master/index.html' %}
{% block body %}
    <!-- BEGIN passwd -->
    <div>
    <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet box blue tabbable">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-reorder"></i>
                                <span class="hidden-480">添加发布状态</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="tabbable portlet-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#portlet_tab1" data-toggle="tab">添加发布状态</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_tab1">
                                        <!-- BEGIN FORM-->
                                        <form action="{% url 'createstatus' %}" class="form-horizontal" method="post">
                                            <div class="control-group">
                                                <label class="control-label">状态：</label>
                                                <div class="controls">
                                                    <input type="text" placeholder="状态" class="m-wrap large" name="status" id="status" onblur="agentstatus();" />
                                                    <B style="color:red;" id="status_rust"></B>
                                                </div>
                                                <div style="color: red;font-size: 14px">
                                                    {{ msg }}
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
                                                <button type="reset" class="btn">清空</button>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END passwd -->
{% endblock %}
{% block js %}
    <script src="/static/js/app.js"></script>
    <script src="/static/js/form-components.js"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();		});
        function agentstatus(){
            var status=$('#status').val();
            $.ajax({
                url:"{% url 'agentstatus' %}",
                type:"POST",
                data:{status:status},
                success:function(arg){
                    $('#status_rust').html(status+arg)
                },
                error:function(arg){
                    console.log('failed');
                }
            }
            )
        }</script>
{% endblock %}

