<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>jQuery产品分类信息导航代码 - 站长素材</title>
<link href="/static/css/zzsc.css" type="text/css" rel="stylesheet">
<style type="text/css">.on { background-color: red;}</style>
<script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
$(".subNav").click(function(){
			$(this).toggleClass("currentDd").siblings(".subNav").removeClass("currentDd")
			$(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt")

			// 修改数字控制速度， slideUp(500)控制卷起速度
			$(this).next(".navContent").slideToggle(500).siblings(".navContent").slideUp(300);

	})
    $(".navContent li a").click(function(){
				$(this).parent().addClass("on").siblings().removeClass("on");
			});
})
</script>
</head>
<body>
<!-- 代码 开始 -->
<div class="subNavBox">
    <div class="subNav currentDd currentDt">新闻中心</div>
	<div class="subNav currentDd currentDt">新闻中心</div>
	<ul class="navContent " style="display:block">
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
	</ul>
	<div class="subNav">关于我们</div>
	<ul class="navContent">
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
	</ul>
	<div class="subNav">业务系统</div>
	<ul class="navContent">
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
	</ul>
	<div class="subNav">招商加盟</div>
	<ul class="navContent">
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
			<li><a href="#">添加新闻</a></li>
			<li><a href="#">新闻管理</a></li>
	</ul>
</div>
<!-- 代码 结束 -->
</body>
</html>
